@media only screen and (max-width: 768px) {
  .input-form-flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .add-btn {
  
    margin-top: 1rem;
    margin-right: 3rem;
    

  }
}
